/* Popup styling */
.popup {
    display: none; /* Initially hide the popup */
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 1000;
    width: 800px; /* Fixed width */
    max-width: 100%; /* Ensure it does not exceed viewport width */
    max-height: 80vh; /* Maximum height, overflow will be scrollable */
    overflow-y: auto;
}

.popup-content {
    color: #333;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.popup-text {
    margin-bottom: 10px;
    padding: 2%;
}

.popup-text span:first-child {
    font-weight: bold;
    margin-right: 10px;
}

/* Overlay behind the popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 900; /* Ensure overlay is below popup */
    display: none; /* Initially hide overlay */
}

/* Show overlay and popup when active */
.popup.active {
    display: block;
}

.popup.active + .popup-overlay {
    display: block;
}
