body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

ul {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        margin: 10px auto;
    }
    h1 {
        font-size: 1.3em;
    }
    p, ul {
        font-size: 1em;
    }
}

.options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1%;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.option-button {
    padding: 5px 10px;
    background-color: white;
    color: lightblue;
    border-radius: 4px;
    cursor: pointer;
}

#default-seconds-input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mt-2{
    margin-top : 2%;
}

.p-1{
    padding : 1%!important;
}

#countdown {
    margin-left: 1px; /* Pushes the countdown to the right */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Make text bold */
}